/*  shared styles start */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

:root {
  --primary-color: #3a3a3a;
  --secondary-color: #18191f;
  --gray-color: #787885;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --third-font: "Roboto", sans-serif;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-btn {
  color: #fff;
  font-family: var(--primary-font);
  font-weight: 700;
  border-radius: 41px;
  background: #e02c6d;
  text-align: center;
  padding: 10px 24px;
  display: flex;
  align-items: center;  
  border: none;
}
.primary-btn:hover .material-symbols-outlined{
    transform: translate(50px);
}
.primary-btn .material-symbols-outlined{
    padding-left: 5px;
    transition: transform linear 1s;
}
.primary-title {
  color: var(--primary-color);
  font-size: 24px;
  font-family: var(--primary-font);
  font-weight: 700;
}
/*  shared styles end */
/* header section styles start */
header {
  padding: 85px 120px;
 
  
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 34px;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-weight: 600;
}
nav ul li a {
  text-decoration: none;
  font-family: var(--primary-font);
}

/* banner section styles */
.banner-section {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;



 
 
}
.banner-title {
  color: var(--primary-color);
  font-size: 52px;
  font-weight: 700;
}
.banner-description{
    color: var(--primary-color);
    font-family: var(--primary-font);
   font-weight: 600;
   margin: 16px 0;
   max-width: 500px;
}
.banner-img{
    background-image: url("./images/Circle\ design.svg");

}

/* header section styles end */
/* sponsors section styles start */
.sponsors-section{
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}
/* sponsors section styles end */